html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(52,53,65);
  /* padding: 20px; */
  
  background: lightblube;
  border-collapse: collapse;
}




.chat {
  height: calc(100% - 69px);
}

.chat-container {
  height: 100%;
}



.conversation {
  height: calc(100% - 12px);
  position: relative;

  background-color: rgb(52,53,65);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
  height: calc(100% - 68px);
  overflow-x: hidden;
  /* padding: 0 16px; */
  padding-right : 10px;
  margin-bottom: -105px;

}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}

.message {
  word-break: break-word;
  color: white;
  clear: both;
  line-height: 30px;
  font-size: 1rem;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  width: 80%;
  max-width: 80%;
  word-wrap: break-word;
  margin-right:10%;

}



body img {
  max-width: 60%;
  
}



.user_response {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
}

.bot_response {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
}

.message.received {
  background: rgb(81, 84, 99);
  border-radius: 10px 10px 10px 10px;
  /* float: left; */
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #17202A transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: rgb(94 94 98);
  border-radius: 10px 10px 10px 10px;
}



.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 200px;
  width: 100%;
}


.conversation-compose .input-msg {
  /* border: none; */
  resize: none; 
  flex: 1 1 auto;
  font-size: 16px;
  /* font-weight: 300; */
  margin: 0;
  outline: none;
  margin-left: 6%;
  z-index: 2;
  line-height: 2;
  background: transparent;
  /* inner color  */
  background-color: rgba(64,65,79);
  color: inherit;
  display: block;
  
  /* border: 1px solid rgb(105, 87, 87);  */
  border-radius: 10px;
  color : white;
  padding: 10px 10px 10px 20px;
}





.conversation-compose .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
  z-index: 13;
  right:58;
  bottom: 20;
}

.conversation-compose .send .circle {
  background: transparent;

  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversation-compose .send .circle i {
  font-size: 24px;
  margin-left: 5px;
}




.marvel-device .status-bar {
  display: none;
}



.conversation .conversation-container {
  height: calc(100vh - 120px);
}




.uploadButton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  background-color: none;
  color: #fff;
  cursor: pointer;
}

.uploadButton input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uploadIcon {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 10px;
  transform: rotate(-90deg);
}







/* loadning animation css */

@-webkit-keyframes honeycomb {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes honeycomb {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.honeycomb {
  height: 12px;
  position: relative;
  /* width: 12px; */
  right: 60;
  top: 24px;
}

.honeycomb div {
  -webkit-animation: honeycomb 2.1s infinite backwards;
  animation: honeycomb 2.1s infinite backwards;
  background: #f3f3f3;
  height: 6px;
  margin-top: 3px;
  position: absolute;
  width: 12px;
}

.honeycomb div:after,
.honeycomb div:before {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  left: 0;
  right: 0;
}

.honeycomb div:after {
  top: -3px;
  border-bottom: 3px solid #f3f3f3;
}

.honeycomb div:before {
  bottom: -3px;
  border-top: 3px solid #f3f3f3;
}

.honeycomb div:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  left: -14px;
  top: 0;
}

.honeycomb div:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  left: -7px;
  top: 11px;
}

.honeycomb div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  left: 7px;
  top: 11px;
}

.honeycomb div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  left: 14px;
  top: 0;
}

.honeycomb div:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  left: 7px;
  top: -11px;
}

.honeycomb div:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: -7px;
  top: -11px;
}

.honeycomb div:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  left: 0;
  top: 0;
}
